.banner {
    width: 100%;
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
    width: 1240px;
    height: 100%;

    background-image: url(../uploads/banner_1.png);
    /* cover:直接铺满全屏，可能某些位置看不到 */
    /* contain:缩放到一边铺满位置，可能会有白边 */
    background-size: contain;

    /* 子绝父相 */
    position: relative;
}


/* 侧边栏 */
.banner .wrapper .aside {
    float: left;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .wrapper .aside li {
    height: 50px;
    line-height: 50px;
    padding-left: 36px;
    padding-right: 20px;
    width: 100%;
}

.banner .wrapper .aside li:hover {
    background-color: #27ba9b;
}

.banner .wrapper .aside a {
    font-size: 14px;
    color: #ffffff;
}

.banner .wrapper .aside span {
    float: right;
}


/* 上一个 */

.banner .wrapper .btn_up {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.2);

    /* 定位 */
    left: 260px;
    top: 50%;
    transform: translateY(-50%);

    /* 圆角 */
    border-radius: 50%;

    /* 精灵图 */
    background-image: url(../images/sprites.png);
    background-position: 15px -60px;
}

/* 下一个 */
.banner .wrapper .btn_next {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.2);

    /* 定位 */
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    /* 圆角 */
    border-radius: 50%;

    /* 精灵图 */
    background-image: url(../images/sprites.png);
    background-position: -25px -60px;
}


/* 底部轮播图的指示器 */
.indicator {
    width: 990px;
    height: 30px;
    /* 定位 */
    position: absolute;
    bottom: 0;
    right: 0;
}

.indicator ol {
    margin: 0 auto;
    height: 20px;
    width: fit-content;
}

.indicator li {
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}

.indicator li:nth-child(3) {
    background-color: #fff;
}


/* 商品列表 */

.goods {
    background-color: #fff;
}

.goods {
    width: 1240px;
    padding-top: 50px;
}


.goods_title {
    font-size: 29px;
    color: #333333;
}

.goods_title2 {
    font-size: 16px;
    color: #999999;
    margin-left: 15px;
}

.goods_query_all {
    float: right;
    font-size: 16px;
    color: #999999;
}

/* 商品列表 */
.goods .list {
    margin-top: 38px;
}

.goods .list ul {
    display: inline-block;
    background-color: #fff;
}

.goods .list li {
    margin-right: 8px;
    float: left;
    width: 304px;
    background-color: #f0f9f4;
}

.goods .list li:last-child {
    margin-right: 0;
}

.goods .list img {
    width: 304px;
}

.goods .list p {
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-top: 23px;
}

.goods .list span {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 23px;
    color: #9a2e1f;
}

.sx {
    margin-top: 34px;
    background-color: rgb(15, 245, 134);
}

.goods .sx_left {
    float: left;
    font-size: 29px;
    color: #333333;
    float: left;
}

.goods ul {
    vertical-align: middle;
    float: right;
}

.goods li {
    float: left;
}


.goods .sx_query_all {
    float: right;
}










/* 生鲜 */
/* .goods .sx {
    margin-top: 34px;
    background-color: rgb(51, 240, 13);
}

.goods .sx_title {
    font-size: 29px;
    color: #333333;
    float: left;
}

.goods .sx ul {
    float: right;
}

.goods .sx li {
    float: left;
}


.goods .sx .sx_query_all {
    float: right;
} */