.xtx_body {
    padding: 30px 0 85px;
    background-color: #f6f6f6;
}

.xtx_body .wrapper {
    display: flex;
}

/* 侧边栏 */
.xtx_body .aside {
    width: 227px;
    min-height: 500px;
    margin-right: 18px;
    background-color: #ffffff;
}

/* 主体内容 */
.xtx_body .main {
    flex: 1;
    min-height: 500px;
    background-color: #ffffff;
}

/* 头像 */
.aside .head {
    width: 85px;
    height: 85px;
    background-image: url(../uploads/avatar_1.png);
    background-size: contain;
    margin: 47px auto 0 auto;
}

/* 名字 */
.aside .head_name {
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin: 14px auto 0 auto;
}

/* 等级 */
.aside .level {
    width: 93px;
    height: 26px;
    background-color: #e16033;
    border-radius: 13px;
    margin: 12px auto 0 auto;
    display: flex;
    align-items: center;
}

.aside .level img {
    width: 15px;
    height: 16px;
    margin-left: 11px;
}

.aside .level span {
    font-size: 14px;
    color: #f9f9f9;
    margin-left: 5px;
}

/* 我的账户 */
.aside .list_titel {
    display: block;
    font-size: 18px;
    font-weight: normal;
    color: #333333;
    text-align: center;
}

/* 使用before给标题头加入样式 */
.aside .list_titel::before {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #f4f4f4;
    margin-bottom: 34px;
    margin-top: 32px;
}

/* 我的账户列表 */
.aside .account .list_item {
    width: 100%;
    margin-top: 28px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.aside .account .item_a {
    width: 100%;
    font-size: 14px;
    color: #666666;
    /* 居中 */
    text-align: center;
    /* 居中靠右显示 */
    padding-right: 30px;
    /* 修改元素模式 */
    display: inline-block;
}

/* item的左侧小圆点  */
.aside .account .item_a::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #5eb69c;
    border-radius: 3px;
    /* 距离文字的间距 */
    margin-right: 10px;
    /* 修改伪元素的显示模式 */
    display: inline-block;
    /* 默认不可见，这里使用站位的方法，避免文字的挪动 */
    visibility: hidden;
}

/* 文字的悬停效果 */
.aside .account .item_a:hover {
    color: #5cb99e;
}

/* 文字小圆点的悬停效果 */
.aside .account .list_item:hover a::before {
    visibility: visible;
}