/* 主背景颜色 */
body {
    background-color: #f3f5f7;
}

.logo {
    width: 1200px;
    height: 42px;
    background-color: #dde6f0;
    margin: 0 auto;
    margin-top: 30px;
}

.logo img {
    float: left;
}

.logo ul {
    float: left;
    list-style: none;
    margin-left: 60px;
}

.logo ul li {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    margin-right: 24px;
}

.logo li a {
    padding-left: 9px;
    padding-right: 9px;
    color: #050505;
    font-size: 18px;
    text-decoration: none;
    height: 42px;
}

.logo li:hover {
    border-bottom: 2px solid #00a4ff;
}


